

div.wallet-hero-section {
   

    .sole-card {
       
        div.create-wallet {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 60px;

            div.sole-text {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
        }

        h1 {
            margin: 50px 0px 0px 0px;
            font-size: 2rem;
            font-weight: 500;
        }

         p {
            font-size: 1.2rem;
            
         }

        div.add-wallet-button {
            .ecw-button {
                width: 300px;
                margin-top: 100px;
            }
        }  
    }

    div.mnemonic-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        h2 {
            color: rgb(10, 10, 10);
            font-size: 1.4rem;
            font-weight: 550;
        }

        p {
            margin: 20px 0px 0px 0px;
            text-align: center;
            color: #e8c84c;
            font-weight: 545;
        }

        div.disable-icon {
            position: absolute;
            z-index: 2;
            top: 40%;
            cursor: pointer;
        }

       

        div.mnemonic-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap: 10px; 
            padding: 20px;
            position: relative;
            transition: filter 0.3s ease;
            filter: blur(8px);
          

            div.mnemonic-word {
                padding: 10px;
                border: 1px solid #919191; 
                border-radius: 5px;
                text-align: center;
                font-size: 1rem;
                color: #ffffff;
                background-color: rgb(10, 10, 10);


                &:hover {
                    cursor: pointer;
                    
                }
            } 


            &:hover {
                cursor: pointer;
                filter: none;
            }
        }
    }
}

