
div.mnemonic-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  

    .button {

    }

    .mnemonic {
        input {
            width: 100%;
            
        }
        
       
    }
}