
div.wallet-component {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: #f5f5f5;

    div.wallet-wrapper {
      
        padding: 40px; 
    }
}