
div.nav-bar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    // margin: 40px;
     background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

     div.toggle {
        display: flex;
     }
}

